<html> 

 <head>
    {% include "navbar.html" %}
    <title>Search</title>
  </head>


<h1> <c>Advanced School Search </c> </h1>


<p> <c> Type in the city, state, and zipcode you are looking for. <br /> 
We will provide you with a list of schools in the area </c> </p>

<c> 
<form method="POST">

Zip Code <br />
<input type="text" name="zip">
<br /><br />

City: <br />
<input type="text" name="city">
<br /> <br />

State: <br />
<input type="text" name="state">
<br /> <br />

<input type="Submit" name="button" value="complete">
<input type="Submit" name="button" value="Cancel">


</form>

</c>

</html>
