<html> 

 <head>
    {% include "navbar.html" %}
    <title>Search</title>
  </head>


<h1 style="text-align: center;"> Advanced School Search </h1>


<p style="text-align: center;"> Type in the city, state, and zipcode you are looking for. <br /> 
We will provide you with a list of schools in the area.

<form method ="POST", style="text-align: center;">

Zip Code <br />
<input type="text" name="zipcode" value="zipcode">
<br /><br />

City: <br />
<input type="text" name="city" value="city">
<br /> <br />

State: <br />
<input type="text" name="state" value="state">
<br /> <br />

API Key: <br />
<input type="text" name="key" value ="key">
<br /> <br />

<input type="Submit" name="button">

</form>

</p>

</html>
