<head>
    {% include "navbar.html" %}
    <title>City Error</title>
  </head>


<h1 style = "text-align:center"> City Error Page. You've Made An Incorrect Input. <br />
Specifically, you used an incorrect "city". </h1> <br /> 

<p style = "text-align:center"> We will walk you through the steps to solve your problem. <br /> <br />

A city error occurs when you enter an incorrect city into the input called "City".<br /> <br />

You either: <br /> <br />
<u> 1) Typed in the name of a city that does not exist. </u> <br /> --> If so, simply go back to the search you were trying and try again with a correct city. <br /> <br />
<u> 2) Typed the city in the wrong format..</u> <br /> --> Cities can not have spaces in them. <br /> -->For example, "New York" must be typed as "New+York".

</p>
<head>
    {% include "navbar.html" %}
    <title>City Error</title>
  </head>


<h1 style = "text-align:center"> City Error Page. You've Made An Incorrect Input. <br />
Specifically, you used an incorrect "city". </h1> <br /> 

<p style = "text-align:center"> We will walk you through the steps to solve your problem. <br /> <br />

A city error occurs when you enter an incorrect city into the input called "City".<br /> <br />

You either: <br /> <br />
<u> 1) Typed in the name of a city that does not exist. </u> <br /> --> If so, simply go back to the search you were trying and try again with a correct city. <br /> <br />
<u> 2) Typed the city in the wrong format..</u> <br /> --> Cities can not have spaces in them. <br /> -->For example, "New York" must be typed as "New+York".

</p>
