<!DOCTYPE html>

<html lang="en">

  <head>
    {% include "navbar.html" %}
    <title>Home</title>
  </head>

  <h1 style="text-align: center;"> School Search: Learn About Schools in the United States </h1>

<p style="text-align: center;">

<b> Mission Statement:</b> Our goal is to provide interested parents and students with information regarding elementary, middle, and high schools as well as colleges and universities throughout the United States. We believe that parents and students deserve to make an informed decision. Thus, we will provide you with information through various search functions. You will be permitted to specify certain parameters and we will provide you with a list of all schools that match what you are looking for. More importantly, we will provide you with information about each of these schools. <br /> <br /> 

<b> About Us: </b> We are the "Army of Darkness" - Jack Cahn, Tak Chi Wan, Alvin Leung and Haoxin Luo. <br /> <br /> 

We are students at Stuyvesant High School in New York City taking Software Development. Many of us are ourselves in the process of our own "college searches" in which we are looking for college that are comptabile with our interests. That's why its important to us to provide you with information.  

<h3 style="text-align: center;"> <u> A guide to our website </u> </h3> 

<p  style="text-align: center;"> Below, we have listed the types of search you can conduct. Enjoy! <p> 

<p  style="text-align: center;"> 
<b> 1. City Search: </b> <br />
 If you're looking for schools within a specific geographic region, use this search.<br /> You can type in the state, city, and zip of the region you'd like to search for schools or any combination of those three variables.  <br /> 
Click <a href="/citysearch">HERE</a> to conduct a city search. <br /> <br />

<b> 2. School Search: </b> <br />
If you're looking to search for information about a specific school, use this search.  <br /> You can type in the name of the school and we will give you information about that school. <br /> 
Click <a href="/schoolsearch">HERE</a> to conduct a school search. <br /> <br />


<p> 







