<!DOCTYPE html>

<html lang="en">

  <head>
    {% include "navbar.html" %}
    <title>SchoolSearch</title><!--Rename page title to appname-->
  </head>

  <body>
    <div class="text-center">
      <h1>SchoolSearch</h1><!--Replace with image?-->
      <form method="POST" class="form-search">
	<input type="text" name="query_string" placeholder="Search a school..." class="input-medium search-query">
	<button type="submit" class="btn btn-default">Search</button>
	<div class="radio">
	  <label>
	    <input type="radio" name="search-radio" value="NYC Schools" checked>
	    NYC Schools 
	  </label>
	</div>
	<div class="radio">
	  <label>
	    <input type="radio" name="search-radio" value="Colleges">
	    Colleges 
	  </label>
	</div>
      </form>
    </div>
  </body>
  
</html>
