<html> 

<head>
    {% include "navbar.html" %}
    <title>Error</title>
  </head>


<h1 style = "text-align:center"> Key Error Page. You've Made An Incorrect Input. <br />
Specifically, you used an incorrect "search key". </h1> <br /> 

<p style = "text-align:center"> We will walk you through the steps to solve your problem. <br /> <br />

A key error occurs when you enter an incorrect API key into the 4rth input called "API Key".<br /> <br />

You either: <br /> <br />
<u> 1) Made a typo and used the incorrect key. </u> <br /> --> If so, simply go back to the search you were trying and try again. <br /> <br />
<u> 2) Don't have an API key.</u> <br /> --> If so, go to <a href = "http://www.education.com/schoolfinder/tools/webservice/"> this website </a> to sign up for one. <br /> <br />  
<u> 3) Used an API key that does not correspond to your current IP address.</u>  <br /> --> Please remember that each API key is specific to the IP address in which you are running this search. <br /> -->  Make sure that your current IP Address corresponds to the one you signed up with. <br /> --> Google "my IP address" to see your current IP Address. 

</p>
