<html>

 <head>
    {% include "navbar.html" %}
    <title>Search</title>
  </head>
    
  <body>
   <h1 style="text-align: center;"> Map Search </h1>
        
   <form method="POST">        
   Schoolname: <input type="text" name="schoolname">
   <br>
   <input type="submit" name="button" value="Submit">
   </form>
   
   <p>Location
   <a href="maps.googleapis.com/maps/api">
   <img border="0" src="https://maps.googleapis.com/maps/api/staticmap?center={{addr}}&markers=color:red%7Clabel:A%7C{{addr}}&zoom=15&size=600x300&scale=2&maptype=roadmap&sensor=false" alt="place">
   </a>
   </p>

   </body>
</html>
