<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<link rel="script" type="text/javascript" href="/static/js/bootstrap.min.js">

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    </button>
    <a class="navbar-brand" href="/">SchoolSearch</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/home">Home</a></li>
      {% if loggedin %}
      <li><a href="/citysearch">City Search</a></li>
      <li><a href="/schoolsearch">School Search</a></li>
      <li><a href="/mapsearch"> Map Search</a></li>
      <li><a href="/account">Change Password</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
    {% else %}
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
    {% endif %}
  </div>
</nav>
