<!DOCTYPE html>

<html lang="en">

  <head>
    {% include "navbar.html" %}
    <title>Register</title>
  </head>

  <body>
    <div class="text-center">
      <h1>Register</h1>
      <form method="POST">
Please create a username.
<br>
Username: <input type="text" name="user">
<br>
<br>
Please create a password.
<br>
Password: <input type="password" name="pass"> 
<br>
Please verify your password. 
<br>
Password: <input type="password" name="pass2">
<br>
<input type="submit" name="button" value="Submit">

</form>
<br>
<sub>Already have an account? <a href="login">Login here!<a></sub>
</html>
