<!DOCTYPE html>
<html lang="en"> 

  <head>
    {% include "navbar.html" %}
    <title>School Search</title>
  </head>

  <body>
    <h1 class="col-sm-offset-2"> Advanced School Search </h1>


    <p class="col-sm-offset-2"> Type in the name of the school you are looking for. <br /> 
      We will provide you with a list of schools in the area. </p>

    <form class="form-horizontal" role="form" method="POST">

      <div class="form-group">
	<label for="schoolname" class="col-sm-2 control-label">Name of School</label>
	<div class="col-sm-3">
	  <input type="text" class="form-control" name="schoolname" placeholder="Name of School">
	  <br /> <br /> 
	  Key from <a href="http://www.education.com/schoolfinder/tools/webservice/"> this website </a>  <br />
	  <input type="text" class="form-control" name="key" placeholder="Key">

	</div>
      </div>
      
      <div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
	  <input type="submit" name="button" class="btn btn-default" value="Submit">
	</div>
      </div>
      
    </form>

    </p>
  </body>
</html>
