<!DOCTYPE html>
<html lang="en"> 

  <head>
    {% include "navbar.html" %}
    <title>School Search</title>
  </head>

  <body>
    <ol class="breadcrumb">
      <li><a href="/results/schoolsearch/{{name}}">{{name}}</a></li>
      {% if dept is None %}
      <li><a href="/results/schoolsearch/{{dept}}">{{dept}}</a></li>
      {% if prof is None%}
      <li><a href="/results/schoolsearch/{{prof}}">{{prof}}</a></li>
      {% endif %}
      {% endif %}
      
    </ol>
    {% set i = 0 %}
    {% for x in d %}
    <button class="btn btn-link">
      {% if prof is None %}
      <a href="/results/schoolsearch/{{name}}/{{dept}}/{{x[1]}}">{{x[1]}}</a>
      {% elif dept is None %}
      <a href="/results/schoolsearch/{{name}}/{{x[1]}}">{{x[1]}}</a>
      {% else %}
      {{x[i]}}
    </button>
    {% set i = i + 1 %}
    {% endfor %}  
    </ul>
  </body>
</html>
