<head>
    {% include "navbar.html" %}
    <title>State Error</title>
  </head>


<h1 style = "text-align:center"> State Error Page. You've Made An Incorrect Input. <br />
Specifically, you used an incorrect "state". </h1> <br /> 

<p style = "text-align:center"> We will walk you through the steps to solve your problem. <br /> <br />

A state error occurs when you enter an incorrect city into the input called "State".<br /> <br />

You either: <br /> <br />
<u> 1) Typed in the name of a state that does not exist. </u> <br /> --> If so, simply go back to the search you were trying and try again with a correct state. <br /> <br />
<u> 2) Typed the state in the wrong format..</u> <br /> --> States must be typed in using their two letter representations.  <br /> -->For example, "New Jersey" must be typed as "NJ".

</p>
