<head>
    {% include "navbar.html" %}
    <title>City Error</title>
  </head>


<h1 style = "text-align:center"> Zip Code Error Page. You've Made An Incorrect Input. <br />
Specifically, you used an incorrect "zip code". </h1> <br /> 

<p style = "text-align:center"> We will walk you through the steps to solve your problem. <br /> <br />

A city error occurs when you enter an incorrect city into the input called "Zip Code".<br /> <br />

You either: <br /> <br />
<u> 1) Typed in the name of a zipcode that does not exist. </u> <br /> --> If so, simply go back to the search you were trying and try again with a correct zip code. <br /> <br />
<u> 2) Typed the zipcode in the wrong format..</u> <br /> --> Zipcode are always 5 digit numbers. <br />

</p>
